<div id="like_form-<%= micropost.id%>">
    <% if current_user.likes?(micropost) %>
        <%= render partial: 'microposts/unlike', locals:{micropost: micropost} if logged_in? %>
    <% else %>
        <%= render partial: 'microposts/like', locals:{micropost: micropost} if logged_in? %>
    <% end %>
</div>